
import os
import tempfile
from application.settings import BASE_DIR

DATABASES = {
    'default': {
        # default db with sqlite
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),

        # postgresql db with schema support
        #'ENGINE': 'django.db.backends.postgresql_psycopg2',
        #'NAME': 'dbname',
        #'SCHEMA': '',

	'CONN_MAX_AGE': None,
    }
}


SECRET_KEY = '@SECRET_KEY@'
CACHE_DIR = os.path.join(tempfile.gettempdir(), 'thermo-@CACHE_DIR@')

DEBUG = True

ALLOWED_HOSTS = []

SPI_DEV = (0, 0)
# These are defaults
# SPI_MODE = 0 # CPOL = 0 / CPHA = 0
# SPI_FREQ = 1000000

# This must be defined for receiver to work
# an interrupt-enabled gpio must be given
#INT_GPIO_DIR = '/sys/class/gpio/gpio200/'

# specify alternate root url, _WITHOUT_ leading slash, and _WITH_ trailing slash
#WWW_ROOT = 'thermo/'

# graphite root
GRAPHITE_ROOT = '@GRAPHITE_ROOT@'

del os, BASE_DIR
