
import os
import tempfile
from application.settings import BASE_DIR

DATABASES = {
    'default': {
        # default db with sqlite
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),

        # postgresql db with schema support
        #'ENGINE': 'django.db.backends.postgresql_psycopg2',
        #'NAME': 'dbname',
        #'SCHEMA': '',
    }
}


SECRET_KEY = '@SECRET_KEY@'
CACHE_DIR = os.path.join(tempfile.gettempdir(), 'thermo-@CACHE_DIR@')

DEBUG = True

ALLOWED_HOSTS = []

SPI_BUS = 0
#GPIO_SYS_DIR = '/sys/class/gpio/gpio200/'

# specify alternate root url, _WITHOUT_ leading slash, and _WITH_ trailing slash
#WWW_ROOT = 'thermo/'

del os, BASE_DIR
