
import os
import tempfile

DATABASES = {
    'default': {
        # postgresql db with schema support
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'dbname',
        #'SCHEMA': '',

	'CONN_MAX_AGE': None,
    }
}

# Change SECRET_KEY to a random value
SECRET_KEY = 'change-this'

# Change CACHE_DIR for each different instance on the same machine
CACHE_DIR = os.path.join(tempfile.gettempdir(), 'thermo-1')

# Change this to False on production system
DEBUG = True

ALLOWED_HOSTS = []

SPI_DEV = (0, 0)
# These are defaults
# SPI_MODE = 0 # CPOL = 0 / CPHA = 0
# SPI_FREQ = 1000000

# This must be defined for receiver to work
# an interrupt-enabled gpio must be given
#INT_GPIO_DIR = '/sys/class/gpio/gpio200/'

# specify alternate root url, _WITHOUT_ leading slash, and _WITH_ trailing slash
#WWW_ROOT = 'thermo/'

del os, tempfile
