# requirements for DIY wireless Temp/Humidity sensor solution
django<3.3
django-atomic-migrations
# install from source
django-db-connection-pool[postgresql]
django-tastypie
psycopg2
pylibmc
grpcio
protobuf
retry
